# Netbeans project files

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb/gradle

# Compiled files
*.class

# Logs and temporary files
*.log
*.tmp
/ExerciseRepetitions/nbproject/private/
/Vectors/nbproject/private/
/OverflowError/nbproject/private/
/VectorsExercises/nbproject/private/
/ExampleUI/nbproject/private/
/OOP/POO/nbproject/private/
/OOP/Inheritance/nbproject/private/
/OOP/Encapsulation/nbproject/private/
/OOP/AbstractClass/nbproject/private/
/OOP/PokemonInterfacesAndAbstract/nbproject/private/
/OOP/ArrayList/nbproject/private/
/OOP/LinkedList/nbproject/private/
/Collections/Stacks/nbproject/private/
